.nodule-analysis-wrapper{
    margin-bottom: 1rem;
    .header{
        margin: 0.8rem;
        display: flex;
        justify-content: flex-end;
        align-items: center ;
    }
    .radio-box{
        display:flex;
        align-items: center;
        margin-right: 1rem;
    }
    .nodule-container{
        width: 40%;
        overflow: scroll;
        display: flex;
        flex-wrap: wrap;
        max-height: 40rem;
    }
    .text-editor-container{
        margin-left:1rem;
        width: 70%;
    }
}