@import "../../../variables.scss";

.content-wrapper{
    
    width:90%;
    align-items: center;
    position: relative;
    justify-content: center;
    .patient-details-wrapper{
        padding:1rem;
        background: $white;
        display: flex;
        justify-content: center;
        border-radius: 2px;
        margin-bottom: 0.5rem;
        justify-content: space-between;
        .d-col{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    
    .page-content{
        border-radius: 2px;
        background: $white;
        padding:1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }
    .page-nav-key{
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        top: 50%;
        position: absolute;
        font-size: 3rem;
        color: $primary-color;
        cursor: pointer;
        
    }
    .left{
        right:102%
    }
    .right{
        left:102%
    }

}