<div class="content-wrapper">
    <div class="patient-details-wrapper">
        <div class='d-col'>
            <div class="detail">
                <span class="font-normal-light">Name</span>: <span class="font-normal-bold">00300380</span>
            </div>
            <div class="detail">
                <span class="font-normal-light">Patient ID</span>: <span class="font-normal-bold">00300380</span>
            </div>
            <div class="detail">
                <span class="font-normal-light">Ref. physician</span>: <span class="font-normal-bold">-</span>
            </div>
        </div>
        <div class='d-col'>
            <div class="detail">
                <span class="font-normal-light">Accession no</span>: <span class="font-normal-bold">00300380</span>
            </div>
            <div class="detail">
                <span class="font-normal-light">Study date</span>: <span class="font-normal-bold">01-01-2018</span>
            </div>
        </div>
        <div class='d-col'>
            <div class="detail">
                <span class="font-normal-light">Sex</span>: <span class="font-normal-bold">M</span>
            </div>
            <div class="detail">
                <span class="font-normal-light">Age</span>: <span class="font-normal-bold">025Y</span>
            </div>
        </div>
    </div>
    <div class="tab-wrapper">
        <ul class="nav nav-tabs" id="analysis-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="nodule-analysis-tab" data-toggle="tab" href="#nodule-analysis" role="tab" aria-controls="nodule-analysis" aria-selected="true">Nodule Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="high-attenuation-analysis-tab" data-toggle="tab" href="#high-attenuation-analysis" role="tab" aria-controls="high-attenuation-analysis" aria-selected="false">High Atteuation Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="low-attenuation-analysis-tab" data-toggle="tab" href="#low-attenuation-analysis" role="tab" aria-controls="low-attenuation-analysis" aria-selected="false">Low Attenuation Analysis</a>
            </li>
        </ul>
        <!-- <div class="tab-content" id="analysis-tabs-content">
        <div class="tab-pane fade show active" id="nodule-analysis" role="tabpanel" aria-labelledby="nodule-analysis">
            <app-nodule-analysis></app-nodule-analysis>
        </div>
        <div class="tab-pane fade" id="high-attenuation-analysis" role="tabpanel" aria-labelledby="high-attenuation-analysis">
            <app-high-attenuation-analysis></app-high-attenuation-analysis>
        </div>
        <div class="tab-pane fade" id="low-attenuation-analysis" role="tabpanel" aria-labelledby="low-attenuation-analysis-tab">
            <app-low-attenuation-analysis></app-low-attenuation-analysis>
        </div>
        </div> -->
    </div>
    <div class="page-content">
        <!-- <div class='page-nav-key left' [ngClass]="{'disabled':pageIndex<=1}" (click)="prev()">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div> -->
        <div class="tab-content" id="analysis-tabs-content">
            <div class="tab-pane fade show active" id="nodule-analysis" role="tabpanel" aria-labelledby="nodule-analysis">
                <app-nodule-analysis></app-nodule-analysis>
            </div>
            <div class="tab-pane fade" id="high-attenuation-analysis" role="tabpanel" aria-labelledby="high-attenuation-analysis">
                <app-high-attenuation-analysis></app-high-attenuation-analysis>
            </div>
            <div class="tab-pane fade" id="low-attenuation-analysis" role="tabpanel" aria-labelledby="low-attenuation-analysis-tab">
                <app-low-attenuation-analysis></app-low-attenuation-analysis>
            </div>
            </div>
        <!-- <div>
            <app-nodule-analysis *ngIf="pageIndex===1"></app-nodule-analysis>
            <app-low-attenuation-analysis *ngIf="pageIndex===2"></app-low-attenuation-analysis>
            <app-high-attenuation-analysis *ngIf="pageIndex===3"></app-high-attenuation-analysis>
        </div> -->
        <!-- <div class="page-nav-key right" [ngClass]='{"disabled":pageIndex>=3}' (click)="next()">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div> -->
    </div>
    <div class="d-flex-col">
        <div class='flex-box btn-container'>
            <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Approve Report</button>
        </div>
        <div class="updated-by">
            <span class="font-normal-bold">
                This report was reviewed by a radiologist on {{ updatedTime | date :'short'}}
            </span>
        </div>
    </div>
    
</div>