$dark-blue:  rgb(26, 59, 86);
$logo-color: rgb(75,174,163);
$header-font-color: #57cec0;

$primary-color: #357b74;
$blue-background: #f7f7f9;
$light-bg: #f6f6f6;

$white: #ffffff;
$red: #ad3611;
$blue: #2e78d4;

$grey-border: #dfdfdf;