@import "../../../variables.scss";

.nodule-wrapper{
    max-width: 25rem;

    .flex-box{
        justify-content: space-between;
    }

    .nodule-header{
        background-color: $blue-background;
    }

    .detail-image{
        max-height: 10rem;
    }
}