@import "../../../variables.scss";

.nodule-wrapper{

    .flex-box{
        justify-content: space-between;
    }

    .nodule-header{
        background-color: $blue-background;
    }

    .detail-image{
        max-width: 100%;
        height: 100%;
    }

    .flex-left{
        display: flex;
        align-items: center;
    }

    .flex-box{
        flex-flow: column;
    }
}