<div class="nodule-wrapper">
    <div class="nodule-header flex-row flex-box">
        <div class="font-normal-bold">
            Nodule 1
        </div>
        <div class="box-container">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="falsePositive" value="flase positive">
                <label class="form-check-label" for="falsePositive">f p</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="most-significant" value="most significant">
                <label class="form-check-label" for="most-significant">M s</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="add-to-report" value="add to report">
                <label class="form-check-label" for="add-to-report">A r</label>
              </div>
        </div>
    </div>
    <div class="flex-box flex-row">
        <div class='flex-left'>
            <div class='col'>
                <div class="detail">
                    <span class="font-normal-light">Lobe</span>: <span class="font-normal-bold">00300380</span>
                </div>
                <div class="detail">
                    <span class="font-normal-light">Type</span>: <span class="font-normal-bold">00300380</span>
                </div>
                <div class="detail">
                    <span class="font-normal-light">%Classification</span>: <span class="font-normal-bold">-</span>
                </div>
                <div class="detail">
                    <span class="font-normal-light">Size</span>: <span class="font-normal-bold">00300380</span>
                </div>
                <div class="detail">
                    <span class="font-normal-light">Volume</span>: <span class="font-normal-bold">00300380</span>
                </div>
                <div class="detail">
                    <span class="font-normal-light">Border</span>: <span class="font-normal-bold">-</span>
                </div>
            </div>
        </div>
        <div class="flex-right">
            <div class="detail">
                <img class="detail-image" src='assets/images/thumbnail_4.png'>
            </div>
        </div>
    </div>
</div>
